################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lesson1/bin/Debug
/Lesson1/obj/Debug
